* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: .5em 4em 3em 4em; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my css */
img { 
  width: 20%; 
  margin: 3em; 
}

h2 { 
  padding: 1em 1em .5em 1em; 
}

h5 { 
  /* padding: 2em 0 0.5em 0;  */
  text-decoration: underline; 
  font-weight: normal; 
  font-size: 1.1em; 
}

a { 
  color: #6e83ad;
  text-decoration: none; 
  font-size: 1.25em; 
  padding: .5em; 
}
/* unvisited link 
 a:link {
}

 visited link 
a:visited {
  color: #6e83ad;
  text-decoration: none; 
} */

/* mouse over link */
a:hover {
  color: #89a2d4;
  text-decoration: none; 
}

/* selected link */
a:active {
  color: #4b5975;
  text-decoration: none; 
}

div ul { 
  list-style: none; 
  text-decoration: none; 
  margin: .25em 0 1.5em 0
}


.classcontainer { 
  border: .05em solid white; 
  padding: .5em 1em;
  margin: .5em;  
}

.classcontainer p { 
  font-size: 1.25em; 
  line-height: 1.5em; 
}

.classcontainer button { 
  font-size: .75em; 
  padding: .2em;
  margin: .3em;  
}

button { 
  font-size: 1em; 
  padding: .2em;
  margin: .3em .3em .6em .3em;  
}

.trivia { 
  width: 70%; 
}